
body{
    background-color: rgb(253, 230, 239);
}

nav{
    background-color: pink;
     padding:10px 20px ;
}
nav a{
    text-decoration: none;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    padding-right: 20px;
}
table{
    background-color: aliceblue;
    width: 800px;
    border-collapse: collapse;
margin-top: 40px;
}
footer
{
     background-color: pink;
     padding:10px 20px ;
     margin-top: 500px;
     text-align: center;
}
img{
    border-radius: 50%;
}

